<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TranslatorHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TranslatorHelper.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>1450</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FR_File" serializeAs="String">
                <value>Fichier</value>
            </setting>
            <setting name="US_File" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="FR_Language" serializeAs="String">
                <value>Langage</value>
            </setting>
            <setting name="US_Language" serializeAs="String">
                <value>Language</value>
            </setting>
            <setting name="FR_French" serializeAs="String">
                <value>Français</value>
            </setting>
            <setting name="US_French" serializeAs="String">
                <value>French</value>
            </setting>
            <setting name="FR_English" serializeAs="String">
                <value>Anglais</value>
            </setting>
            <setting name="US_English" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="FR_Quit" serializeAs="String">
                <value>Quitter</value>
            </setting>
            <setting name="US_Quit" serializeAs="String">
                <value>Quit</value>
            </setting>
            <setting name="FR_Help" serializeAs="String">
                <value>Aide</value>
            </setting>
            <setting name="US_Help" serializeAs="String">
                <value>Help</value>
            </setting>
            <setting name="FR_About" serializeAs="String">
                <value>A propos de</value>
            </setting>
            <setting name="US_About" serializeAs="String">
                <value>About</value>
            </setting>
        </TranslatorHelper.Properties.Settings>
    </userSettings>
</configuration>